{% load static %}
<!DOCTYPE html> 
<html lang="en">
	<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Nodepair | Home</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
		
		<!-- Slick CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/slick/slick.css' %}">
		<link rel="stylesheet" href="{% static 'assets/plugins/slick/slick-theme.css' %}">
		
		<!-- Aos CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/aos/aos.css' %}">

		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

		<style>
			.img-fluid {
				max-width: 100%;
				height: 200px;
			}
		</style>
	
	</head>
	<body class="body-home-one">
		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header header-five">
				<div class="header-fixed">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="container">
						<div class="navbar-header">
							<a id="mobile_btn" href="javascript:void(0);">
								<span class="bar-icon">
									<span></span>
									<span></span>
									<span></span>
								</span>
							</a>
							<a href="index.html" class="navbar-brand logo">
								<img src="assets/img/logo-7.png" class="img-fluid" alt="Logo">
							</a>
						</div>
						<div class="main-menu-wrapper">
							<div class="menu-header">
								<a href="index.html" class="menu-logo">
									<img src="assets/img/logo-7.png" class="img-fluid" alt="Logo">
								</a>
								<a id="menu_close" class="menu-close" href="javascript:void(0);">
									<i class="fas fa-times"></i>
								</a>
							</div>
							<ul class="main-nav">
								<li class="active">
									<a href="/">Home</a>
								</li>
								<li>
									<a href="#">about Us</a>
								</li>
								<li class="has-submenu">
									<a href="#">Support Us<i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="#">Feed Back</a></li>
										<li><a href="#">Donate</a></li>
										<li><a href="#">Partner</a></li>
									</ul>
								</li>
								<li class="login-link">
									<a href="{% url 'loginpage' %}">Login / Signup</a>
								</li>
							</ul>		 
						</div>		 
						<ul class="nav header-navbar-rht">
							<li class="nav-item">
								<a class="nav-link" href="{% url 'loginpage' %}">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link header-login" href="{% url 'register' %}">Sign up</a>
							</li>
						</ul>
					</div>		
				</nav>
				</div>
			</header>
			<!-- /Header -->
			
			<!-- Home Banner -->
			<section class="home-slide home-slide-five d-flex align-items-center">
				<div class="container">
					<div class="row ">
						<div class="col-md-6 d-flex align-items-center">
							<div class="home-slide-face aos" data-aos="fade-up">
								<div class="home-slide-text ">
									<a href="dashboard.html" class="btn bg-stop-learn">Never Stop Freelancing</a>
									<h1>A <span>Decentralized</span><br>Freelancing<br>Platform </h1>
									<p>Nodepair is a decentralized freelance platform that helps to create trust between freelancers and clients without any third parties involved using Blockchain Technology.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 d-flex align-items-end">
							<div class="girl-slide-img aos " data-aos="fade-up">
								<img src="{% static 'assets/img/header_bg.png' %}" alt="">
							</div>
						</div>
					</div>
					<div class="slide-background">
						<img src="assets/img/slide-bg.png" alt="">
					</div>
				</div>
			</section>
			<!-- /Home Banner -->
			
            <!-- Work Flow -->
			<section class="section how-it-works-section">
				<div class="container">
					<div class="section-header-eight text-center aos" data-aos="fade-up">
						<span>Freelancing Flow</span>
						<h2>How does it works ?</h2>
						<p class="sub-title">Are you looking for freelance opportunities? Join our platform and discover a seamless way to connect with clients and showcase your skills.</p>
						<div class="sec-dots">
							  <span></span>
							  <span></span>
							  <span></span>
						</div>
					</div>
					<div class="row justify-content-center feature-list">
						<div class="col-12 col-md-4 col-lg-3 aos" data-aos="fade-up">
							<div class="feature-grid text-center top-box">					
								<div class="feature-header-eight">
									<div class="feature-icon-eight">
										<span class="circle bg-green"><i class="fas fa-sign-in-alt"></i></span>
									</div>		
									<div class="feature-cont">	
										<div class="feature-text-eight">Sign up</div>
									</div>
								</div>
								<p>Ready to explore freelancing? Sign up and create your account on our platform to get started on your freelance journey.</p>
								<span class="text-green">01</span>
							</div>
						</div>
						<div class="col-12 col-md-4 col-lg-3 offset-lg-1 aos" data-aos="fade-up">
							<div class="feature-grid text-center">					
								<div class="feature-header-eight">
									<div class="feature-icon-eight">
										<span class="circle bg-blue"><i class="material-icons">accessibility</i></span>
									</div>	
									<div class="feature-cont">
										<div class="feature-text-eight">Collaborate</div>
									</div>
								</div>
								<p>Collaborate with clients on your terms. Schedule appointments and discuss project details to ensure a smooth workflow and successful outcomes.</p>
								<span class="text-blue">02</span>
							</div>
						</div>
						<div class="col-12 col-md-4 col-lg-3 offset-lg-1 aos" data-aos="fade-up">
							<div class="feature-grid text-center top-box">					
								<div class="feature-header-eight">
									<div class="feature-icon-eight">
										<span class="circle bg-orange"><i class="material-icons">event_seat</i></span>
									</div>	
									<div class="feature-cont">
										<div class="feature-text-eight">Improve & Get Back</div>
									</div>
								</div>
								<p>Showcase your expertise and deliver outstanding results. Once the project is completed, receive payment securely through our smart contract-based system.</p>
								<span class="text-orange">03</span>
							</div>
						</div>						
					</div>
				</div>
			</section>
			<!-- /Work Flow -->

			<!-- Popular node -->
			<section class="section popular-mendors">
				<div class="mendor-title">
					<div class="section-header-eight text-center">
						<div class="container aos" data-aos="fade-up">
							<span>Freelancing Goals</span>
							<h2 class="text-white">Popular Nodes</h2>
							<p class="sub-title text-white">Join our decentralized freelancing platform and connect with well-known nodes who can assist you in reaching your StartUp objectives.</p>
							<div class="sec-dots">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="mendor-list">
					<div class="container aos" data-aos="fade-up">
						<div class="mendor-slider slick">
							
							{% for node in popular_nodes %}
							  <!-- Mentor Item -->
							<div class="mendor-box">
								<div class="mendor-img">
									<a href="{% url 'seller_info' node.slug %}">
										<img class="img-fluid" alt="" src="{{node.avatar}}">
									</a>
									<div class="mendor-country"><i class="fas fa-map-marker-alt"></i> {{node.location}}</div>
								</div>
								<div class="mendor-content">
									<h3 class="title"><a href="{% url 'seller_info' node.slug %}">{{node.full_Name}}</a></h3>
									<div class="mendor-course">
										{{node.slogan}}
									</div>
									<div class="mendor-price-list">									
										<div class="mendor-price">$100 <span>/ hr</span></div>
										<div class="mendor-rating">							
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
										</div>
									</div>
								</div>
							</div>
							<!-- /Mentor Item -->
							{% endfor %}
							
						</div>
					</div>
				</div>
			</section>
			<!-- /Popular node -->

			<!-- join Node -->
			<section class="share-knowledge-three">
				<div class="container">
					<div class="row">
						<div class="col-md-6 d-flex align-items-center ">
							<div class="knowledge-img-three aos " data-aos="fade-up">
								<img src="{% static 'assets/img/join-3.png' %}" alt="">
							</div>
						</div>
						<div class="col-md-6 d-flex align-items-center">
							<div class="join-us-all aos " data-aos="fade-up">
								<div class="join-us-heading">
									<h2>Have a Startup Idea? <br>Share Your Vision with Us!</h2>
									<p>If you have a brilliant startup idea and want to bring it to life, join our platform as a visionary. Share your knowledge and expertise, and our network of skilled nodes will collaborate with you to turn your vision into reality.</p>
								</div>
								<div class="join-two-face">
									<div class="row">
										<div class="col-lg-6 col-md-12">
											<div class="best-course-three">
												<h4>Discover Meta Opportunities</h4>
												<p>Explore our platform to discover a multitude of meta opportunities. Connect with talented freelancers who can assist you in transforming your startup ideas into successful ventures.</p>
											</div>
										</div>
										<div class="col-lg-6 col-md-12">
											<div class="best-course-three">
												<h4>Top Rated Nodes</h4>
												<p>Learn from and collaborate with top-rated freelancers in our platform's vibrant community. Our platform showcases industry-leading experts who have excelled in their fields, ensuring you have access to skilled professionals who can deliver exceptional results.</p>
												<div class="popular-three-bg">
													<img src="{% static 'assets/img/popular-bg.png' %}" alt="">
												</div>
											</div>
										</div>
									</div>
									<div class="explore-more ">
										<a href="{% url 'showMore' 'rec_meta' %}" class="btn bg-explore">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- join Node -->

			<!-- team feedback -->
			<section class="testimonial-two student-say-about testimonial-section">
				<div class="container">
					<div class="section-header h-three text-center aos " data-aos="fade-up">
						<h2>We Value Our Teams, <br>let’s Hear from them</h2>
					</div>
					<div class="move-student">
						<ul class="student-item">
							<li class="student-list">
								<div class="student-list" data-toggle="tab">
									<img src="{% static 'assets/img/user/user.jpg' %}" alt="">
								</div>
							</li>
							<li class="student-list">
								<div class="student-list" data-toggle="tab">
									<img src="{% static 'assets/img/user/user1.jpg' %}" alt="">
								</div>
							</li>
							<li class="student-list">
								<div class="student-list" data-toggle="tab">
									<img src="{% static 'assets/img/user/user2.jpg' %}" alt="">
								</div>
							</li>
							<li class="student-list">
								<div class="student-list" data-toggle="tab">
									<img src="{% static 'assets/img/user/user3.jpg' %}" alt="">
								</div>
							</li>
							<li class="student-list">
								<div class="student-list" data-toggle="tab">
									<img src="{% static 'assets/img/user/user4.jpg' %}" alt="">
								</div>
							</li>
							<li class="student-list">
								<div class="student-list" data-toggle="tab">
									<img src="{% static 'assets/img/user/user5.jpg' %}" alt="">
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg-12 col-md-12 text-center d-flex justify-content-center pt-4">
						<div id="myCarousel" class="carousel slide student-slide-testimoni aos " data-aos="fade-up" data-bs-interval="5000" data-bs-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item testi-item say-us active" data-color="#fb9c9a" data-img="img/testimonial/1.png">
									<div class="student-group">
										<div class="student-about-img">
											<img src="assets/img/user/user20.png" alt="">
										</div>
										<h3>Hannah Schmitt</h3>
										<span>Lead designer</span>
										<p class="say-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim </p>
										<div class="rating">
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
								</div>
								<div class="carousel-item testi-item say-us" data-color="#fbd39a" data-img="img/testimonial/2.png">
									<div class="student-group">
										<div class="student-about-img">
											<img src="assets/img/user/user21.png" alt="">
										</div>
										<h3>John Doe</h3>
										<span>Web Developer</span>
										<p class="say-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim </p>
										<div class="rating">
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
								</div>
								<div class="carousel-item testi-item say-us" data-color="#9ab0fb" data-img="img/testimonial/3.png">
									<div class="student-group">
										<div class="student-about-img">
											<img src="assets/img/user/user20.png" alt="">
										</div>
										<h3>Mark Huff</h3>
										<span>UI designer</span>
										<p class="say-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim </p>
										<div class="rating">
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
								</div>
						    </div>
						    <button class="carousel-control-prev student-testimonial-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
								<i class="fa fa-angle-left" aria-hidden="true"></i>
								<span class="visually-hidden">Previous</span>
						    </button>
						    <button class="carousel-control-next student-testimonial-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
								<span class="visually-hidden">Next</span>
						    </button>
						</div>
				    </div>
				</div>
			</section>
			<!-- /team feedback -->

			<!-- Most trending meta -->
			<section class="section trending-courses trending-courses-five">
				<div class="container">
					<div class="section-header section-head-left aos " data-aos="fade-up">
						<h2>Most Trending Meta</h2>
						<p class="sub-title">Stay ahead of the curve by discovering the most trending meta opportunities. Our platform showcases the hottest gigs that are in demand right now. Be part of the cutting-edge projects that are shaping the freelance industry.</p>
						<div class="view-all ">
							<a href="{% url 'showMore' 'rec_meta' %}">Explore More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
					<div class="owl-carousel mentoring-course trending-course owl-theme aos " data-aos="fade-up">
						{% for meta in trending_meta %}						  
						<div class="course-box">
							<div class="product">
								<div class="course-sub-box">
									<div class="product-img">
										<a href="search.html">
											<img class="img-fluid" alt="" src="{{meta.gallery.all.first.Picture.url}}" width="600" height="300">
										</a>
									</div>
									<div class="product-content">
										<div class="blog-view-list d-flex">
											<div class="blog-admin-view">
												<p><i class="fas fa-book"></i> <span>17 Lessons</span></p>
											</div>
											<p>4.6 (52)</p>
										</div>
										<h3 class="title">
											<a href="search.html">{{meta.title}}</a>
										</h3>
										<div class="course-info d-flex align-items-center">
											<div class="rating-img d-flex align-items-center">
												<img src="assets/img/user/user2.jpg" alt="">
												<h4>{{meta.profile.seller_profile.full_Name}}</h4>
											</div>
											<div class="course-view d-flex align-items-center">
												<div class="graduate-point">
													<span>75</span>
												</div>	
												<i class="fas fa-user-graduate"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="author-join d-flex align-items-center">
									<div class="course-price">
										${{meta.get_start_price}}
									</div>
									<a href="{{meta.get_url}}" class="btn join-now">Join Now</a>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</section>
			<!-- /Most trending meta -->
					
			<!-- Node feedback -->
			<section class="testimonial-two">
				<div class="container">
					<div class="section-header text-center aos " data-aos="fade-up">
						<h2>Here is what our Clients are saying About us</h2>
					</div>
					<div class=" slider say-about slider-for aos " data-aos="fade-up">
						<div>
							<div class="testimonial-all d-flex justify-content-center">
								<div class="testimonial-two-head text-center">
									<h3>It was a very good experience 1</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim arcu. Elementum felis magna pretium in tincidunt. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. urpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit cursus pellentesque enim arcu</p>
								</div>
							</div>
						</div>
						<div>
							<div class="testimonial-all d-flex justify-content-center">
								<div class="testimonial-two-head text-center">
									<h3>Donec a sem pharetra</h3>
									<p>Donec a sem pharetra, ultricies ipsum id, hendrerit metus. Proin libero dui, scelerisque nec purus ac, malesuada fermentum elit. Nunc pellentesque blandit gravida. Nullam convallis, magna eu vulputate fermentum, nulla risus dignissim mi, eu pulvinar sem ex vel nulla. In est sapien, pellentesque sit amet faucibus eu, egestas in mauris. Sed vestibulum sapien arcu, id consequat tellus commodo fermentum. Donec eu tincidunt nunc, vitae rhoncus elit. Aenean varius enim arcu, a sollicitudin libero lacinia quis. Maecenas interdum sapien ante</p>
								</div>
							</div>
						</div>	
						<div>
							<div class="testimonial-all d-flex justify-content-center">
								<div class="testimonial-two-head text-center">
									<h3>It was a very good experience 3</h3>
									<p>Proin ligula tortor, semper non purus a, efficitur placerat mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi tempor efficitur sem et convallis. Donec vitae tristique mauris. Vivamus ac ornare dui, non varius ex.In est sapien, pellentesque sit amet faucibus eu, egestas in mauris. Sed vestibulum sapien arcu, id consequat tellus commodo fermentum. Donec eu tincidunt nunc, vitae rhoncus elit. Aenean varius enim arcu, a sollicitudin libero lacinia quis.</p>
								</div>
							</div>
						</div>	
						<div>
							<div class="testimonial-all d-flex justify-content-center">
								<div class="testimonial-two-head text-center">
									<h3>Nullam vestibulum consectetur</h3>
									<p>Suspendisse auctor aliquam turpis, id luctus enim rutrum id. Nullam vestibulum consectetur nisl, ut tincidunt justo facilisis eu. Vestibulum dignissim magna id neque aliquam, ut dapibus tellus ornare. Praesent id rhoncus ex. Proin sit amet pulvinar neque. Sed accumsan euismod sapien vel eleifend. Praesent sit amet congue tortor. Nulla eleifend condimentum pretium.In est sapien, pellentesque sit amet faucibus eu, egestas in mauris. Sed vestibulum sapien arcu, id consequat tellus commodo fermentum. Donec eu tincidunt nunc, vitae rhoncus elit. Aenean varius enim arcu, a sollicitudin libero lacinia quis.</p>
								</div>
							</div>
						</div>	
						<div>
							<div class="testimonial-all d-flex justify-content-center">
								<div class="testimonial-two-head text-center">
									<h3>Lorem ipsum dolor sit amet</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate congue rutrum. Fusce suscipit tortor ex, et sodales leo aliquam ut. Suspendisse fermentum est vel augue egestas, et fringilla mauris varius. Pellentesque in pharetra dui. Sed commodo nulla nec rhoncus elementum.In est sapien, pellentesque sit amet faucibus eu, egestas in mauris. Sed vestibulum sapien arcu, id consequat tellus commodo fermentum. Donec eu tincidunt nunc, vitae rhoncus elit. Aenean varius enim arcu, a sollicitudin libero lacinia quis.</p>
								</div>
							</div>
						</div>
						<div>
							<div class="testimonial-all d-flex justify-content-center">
								<div class="testimonial-two-head text-center">
									<h3>Suspendisse auctor aliquam</h3>
									<p>Suspendisse auctor aliquam turpis, id luctus enim rutrum id. Nullam vestibulum consectetur nisl, ut tincidunt justo facilisis eu. Vestibulum dignissim magna id neque aliquam, ut dapibus tellus ornare. Praesent id rhoncus ex. Proin sit amet pulvinar neque. Sed accumsan euismod sapien vel eleifend. Praesent sit amet congue tortor. Nulla eleifend condimentum pretium.In est sapien, pellentesque sit amet faucibus eu, egestas in mauris. Sed vestibulum sapien arcu, id consequat tellus commodo fermentum. Donec eu tincidunt nunc, vitae rhoncus elit. Aenean varius enim arcu, a sollicitudin libero lacinia quis.</p>
								</div>
							</div>
						</div>
				    </div>
					<div class=" slider client-img slider-nav aos " data-aos="fade-up">
						<div class="testimonial-thumb">
							<img src="assets/img/user/user1.jpg" alt="">
							<div class="say-client text-center">
								<h4 class="say-client-name">Tom</h4>
							</div>
						</div>
						<div class="testimonial-thumb">
							<img src="assets/img/user/user2.jpg" alt="">
							<div class="say-client text-center">
								<h4 class="say-client-name">Nicole </h4>
							</div>
						</div>
						<div class="testimonial-thumb">
							<img src="assets/img/user/user3.jpg" alt="">
							<div class="say-client text-center">
								<h4 class="say-client-name">James </h4>
							</div>
						</div>
						<div class="testimonial-thumb">
							<img src="assets/img/user/user4.jpg" alt="">
							<div class="say-client text-center">
								<h4 class="say-client-name">Omar </h4>
							</div>
						</div>
						<div class="testimonial-thumb">
							<img src="assets/img/user/user5.jpg" alt="">
							<div class="say-client text-center">
								<h4 class="say-client-name">Paul </h4>
							</div>
						</div>
						<div class="testimonial-thumb">
							<img src="assets/img/user/user6.jpg" alt="">
							<div class="say-client text-center">
								<h4 class="say-client-name">Nicole</h4>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Node feedback -->
			
			<!-- New Course subscribe -->
			<section class="new-course subscribe-course">
				<div class="container">
					<div class="new-course-background">
						<div class="row">
							<div class="col-lg-9 col-md-6 d-flex align-items-center">
								<div class="every-new-course aos " data-aos="fade-up">
									<div class="new-course-text">
										<h1>Subscribe to Stay Updated on <br>New Opportunities</h1>
										<p class="page-sub-text ">Subscribe to receive timely updates on new projects and freelance opportunities. Be the first to know about exciting metas and projects that match your skills and interests.</p>
									</div>
									<div class="course-mail">
										<div class="join-arrow">
											<img src="assets/img/join-arrow.png" alt="">
										</div>
										<form action="#">
											<div class="input-group mb-3 subscribe-form">
												<input type="text" class="form-control course-text-bg" placeholder="Enter your mail">
												<a class="btn bg-course-subscribe" id="subscribe-btn">
													Subscribe
												</a>	 
											</div>	
										</form>	
									</div>
								</div>	
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="new-course-img aos " data-aos="fade-up">
									<img src="{% static 'assets/img/join-5.png' %}" alt="new course">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- New Course -->
			
			<!-- Footer -->
			<footer class="footer footer-five">
				
				<!-- Footer Top -->
				<div class="footer-top aos " data-aos="fade-up">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/logo-5.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<p class="footer-sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Mentee</h2>
									<ul>
										<li><a href="search.html">Search Mentors</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="register.html">Register</a></li>
										<li><a href="booking.html">Booking</a></li>
										<li><a href="dashboard-mentee.html">Mentee Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Mentors</h2>
									<ul>
										<li><a href="appointments.html">Appointments</a></li>
										<li><a href="chat.html">Chat</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="register.html">Register</a></li>
										<li><a href="dashboard.html">Mentor Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i>
											+1 315 369 5943
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i>
											mentoring@example.com
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom " >
					<div class="container">
					
						<!-- Copyright -->
						<div class="copyright-border"></div>
						<div class="copyright ">
							<div class="row align-items-center">
								<div class="col-md-6 ">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2022 Mentoring. All rights reserved.</p>
									</div>
								</div>
								<div class="col-md-6 ">
									<div class="term-privacy">
										<div class="social-icon">
											<ul class="align-items-center">
												<li>
													<a href="javascript:void(0);">Terms and Conditions</a>
												</li>
												<li>
													<a href="javascript:void(0);">|</a>
												</li>
												<li>
													<a href="javascript:void(0);">Policy </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		</div>
		<!-- /Main Wrapper -->

		
		
		<!-- jQuery -->
		<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
		
		<!-- counterup JS -->
		<script src="{% static 'assets/js/jquery.waypoints.js' %}"></script>
		<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
		
		<!-- Owl Carousel -->
		<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>		
		
		<!-- Slick Slider -->
		<script src="{% static 'assets/plugins/slick/slick.js' %}"></script>
		
		<!-- Aos -->
		<script src="{% static 'assets/plugins/aos/aos.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'assets/js/script.js' %}"></script>
		
	</body>
</html>